- var description = '国立奥多摩映画館（MOAO）公式サイト'
- var site_name = '国立奥多摩映画館（MOAO）- "森の叫び"'
- var keywords = '国立奥多摩美術館,国立奥多摩映画館,MOAO,The National Museum Of Art Okutama,The National Movie Or Art Okutama,映画,映像,現代美術,映画館,奥多摩,青梅'
- var title = '国立奥多摩映画館 The National Movie Or Art, Okutama (MOAO)'
- var og_image = 'http://moao.jp/img/moao_og.png'
- var url = 'http://moao.jp'


meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='content-script-type', content='text/javascript')
meta(http-equiv='content-style-type', content='text/css')
meta(http-equiv='content-language', content='ja')
meta(name='description', content='#{description}')
meta(name='keywords', content='#{keywords}')
meta(name='robot', content='index.follow')
meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes')

//meta(property='fb:app_id' content='')
meta(property='og:locale', content='ja_JP')
meta(property='og:url', content='#{url}')
meta(property='og:title' content='#{title}')
meta(property='og:site_name' content='#{site_name}')
meta(property='og:type' content='website')
meta(property='og:description' content='#{description}')
meta(property='og:image' content='#{og_image}')

meta(property='twitter:card', content='photo')
meta(property='twitter:site', content='@moao_jp')
meta(property='twitter:title', content='#{title}')
meta(property='twitter:description', content='#{description}')
meta(property='twitter:image:src', content='#{og_image}')
meta(property='twitter:url', content='#{url}')

meta(name='google-site-verification' content='UWkcXC0M5IrA6Ndh2-1auTnxZw36ad4HCDpfV2fwD4M')
link(rel='shortcut icon' href='http://moao.jp/favicon.ico')

title= title
